.main_title{
     border: 4px solid black;/* border 은 네모틀 만들기 4px로 직선 검은색 */
    margin: 10px; /*바깥공간의 크기조정(?)*/
    padding-left: 10px;/*안쪽공간 왼쪽 20px 띄우기*/
}

.side_bar{
    width: 150px;
    border: 4px solid black;
    margin: 10px;
    float: left;/*왼쪽을 정렬*/
}

.main{
    border: solid black 4px;
    width: 500px;
    margin: 10px;
    padding: 20px;
    margin-left: auto; /* 왼쪽 바깥공간 자동조정*/
    margin-right: auto;
    margin-top: 20px;
}

.side_bar2{
    border: 4px solid black;
    margin: 10px;
    width: 150px;
    float: right;
}

.last_bar{
    clear: both; /*float로 오른쪽 왼쪽 정렬해 놓은것을 취소한다/ 오른쪽만 제거할려면 right, 완쪽만은 left*/
    margin-top: 30px; 
    border: 4px solid black;
    margin: 10px;
    padding: 10px;
}
