body{
    font-family: "맑은 고딕","고딕", "굴림";
}
#wrapper{
    width: 800px;
    margin: 0 auto;
}
header{
    background-color: #f46075;
    width: 800px;
    height: 150px;
    background-image: url(https://github.com/funnycom/html5-css3/blob/master/10/images/nav2.png?raw=true);
    background-repeat: no-repeat;
    background-position: right center;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline;
    font-weight: bold;
    float: left;
    margin: 20px;
    margin-top: 80px;

}

header ul li a{
    text-decoration: none;
    color: white;
}

section{
    width: 580px;
    float: left;
    padding: 5px;
}

section article{
    width: 250px;
    height: 267px;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    float: left;
}

aside{
    border: 1px solid black;
    width: 200px;
    height: auto;
    float: right;
    margin-top: 80px;
}

footer{
    clear: both;
    width: 800px;
    height: 50px;
    background-color: #333;
    color: white;
    margin: auto;
}

footer p{
    text-align: center;
    padding: 15px;
}

.at1, .at2, .at3, .at4{
    transition: 2s;
}
.at1:hover{
    background-color: rgb(255, 253, 153);
}

.at2:hover{
    background-color: rgb(255, 153, 250);
}

.at3:hover{
    background-color: rgb(153, 194, 255);
}

.at4:hover{
    background-color: rgb(173, 255, 153);
}