#btn {
  padding: 0;
  background-origin: border-box;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%); /* background-image: 컨텐츠 색상,border 색상;*/
  border-image-slice: 1;
  background-clip: content-box, border-box;
}

#btn2 {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 50%;
  border-image: linear-gradient(to right, red 0%, orange 100%);
  border-image-slice: 1;
}

/*
border에 그라데이션을 설정하는 방법은 border-image,border-image-slice 속성을 이용해서 그라데이션을 넣을 수 있다
btn2 는 border-radius가 적용 되지 않는다
왜냐하면 border-image속성과 border-radus 속성이 호환되지 않기 때문이다
border-image를 대신해 background를 이용해 
border-radius에 그라데이션을 설정하려면
border의 색을 투명하게 한 뒤, background에 border 색을 설정하면 된다.
*/
